# Compiled class file
*.class

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Log file
*.log

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Visual Studio Code
.vscode/
*.vscode/

# Spring Boot Environment
.env
application-secret.properties
application-dev.properties
